*.exe
*.bin
/.cph
**/.cph

.vscode/
/.vscode
/.vscode/settings.json
*/.vscode
*/.vscode/*
**/.vscode/
**/.vscode
/.vscode/**
**/.vscode
**/.vscode/**
/.vscode/settings.json
*/.vscode/settings.json
**/.vscode/settings.json

# Grepper Sample
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json